@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600,700;1,200;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #fe2c55;
    --default_layout_header_height: 60px;
    --default_layout_width: 1150px;
    --default_layout_horizontal-spacer: 24px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    color: #333;
}

h1 {
    color: red;
}

@keyframes changColor {
    0% {
        color: yellow;
    }
    25% {
        color: blue;
    }
    50% {
        color: green;
    }
    75% {
        color: red;
    }
    100% {
        color: yellow;
    }
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: #161823;
    text-decoration: none;
}

//Custom tippy tooltip

body {
    .tippy-box {
        height: 38px;
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
        padding-top: 4px;
    }

    .tippy-arrow {
        padding: 8px 9px;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
}
